.header{
	position: sticky;
	top: 0;
	z-index: 50;
	height: 56px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0f0f0f;
}

nav {
	display: flex;
	align-items: center;
	width: 98%;
	justify-content: space-between;
}

.nav_left{
	display: flex;
	align-items: center;
}

.nav_menu_btn{
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.nav_logo{
	width: 90px;
	margin-left: 10px;
	display: none;
}

.nav_logo_mobile{
	width: 30px;
	display: flex;
	margin-left: 6px;
	padding-bottom: 2px;
}

@media screen and (min-width: 768px) {
	.menu_icon {
		display: none;
	}

	.nav_logo{
		display: flex;
	}

	.nav_logo_mobile{
		display: none;
	}

}

.search_container {
	width: 60%;
	height: fit-content;
	align-self: center;
}

.search_box {
	position: relative;
	display: flex;
	height: 36px;
	width: 100%;
}

@media screen and (min-width:768px) {
	.search_container{
		width: 40%;
	}
}


.input_box {
	display: flex;
	align-items: center;
	width: 95%;
	height: 100%;
	padding-left: 15px;
	border: 1px solid hsl(0, 0%, 18.82%);
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}

.input_box_style{
	border: 1px solid #3f51b5 !important;
}

/* .search_icon{
	width: 50px;
} */

.input_box > input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding-left: 10px;
	font-family: Roboto,Noto,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
	color: #f1f1f1;
	background-color: transparent;
}

.close_icon {
	margin-right: 8px;
	cursor: pointer;
}



.search_box > button {
	display: flex;
	align-items: center;
	justify-content: center;
	width:60px;
	height: 38px;
	border: 1px solid hsl(0, 0%, 18.82%);
	background-color: hsl(0, 0%, 18.82%);
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
	cursor: pointer;
}

.search_icon{
	display: none;
}

.nav_right{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav_right_icon {
	display: none;
}


@media screen and (min-width: 768px) {
	.nav_right_icon{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 15px;
		cursor: pointer;
		height: 40px;
		width: 40px;
		border-radius: 50%;
	}
	.nav_right_icon:hover{
		background-color: hsl(0, 0%, 18.82%);
	}
}

.avatar{
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.onTap{
	transform: scale(0.99);
}

.avatar > img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}


.options_contianer{
	position:absolute;
	top:40px;
	z-index: 100;
	width: 36%;
}

@media screen and (min-width:768px) {
	.options_contianer{
		width: 38%;
	}
}

.dropdown_container{
	border-radius: 8px;
	background-color: #fff;
	list-style: none;
	padding: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.option_item {
	display: flex;
	align-items: center;
	height: 25px;
	margin-bottom: 10px;
	width: 95%;
	padding-left: 15px;
	padding-right: 10px;

}

.option_item:hover{
	cursor: pointer;
	background-color: lightgray;
}

.option_item_text {
	padding-left: 10px;
}

.sign_in_btn{
	color: #3ea6ff;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid hsl(0, 0%, 18.82%);
	height: 32px;
	width: 90px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	transition: all 200ms;
}

/* .sign_in_btn:hover{
	background-color: #00aaa7;
} */

.sign_in_btn_icon{
	font-size: 18px;
	margin-right: 4px;
}