.not_found {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not_found > p {
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  font-weight: 400;
}
